{% extends 'account/base.html' %}

{% load static i18n humanize %}

{% block body_class %}account account-settings{% endblock %}

{% block head_title %}{% trans 'Subscriptions' %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <legend>{% trans 'Subscriptions' %}</legend>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans 'Subscribed at' %}</th>
                        <th>{% trans 'Post' %}</th>
                        <th>{% trans 'Unsubscribe' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subscription in subscriptions %}
                    <tr>
                        <td>{{ subscription.subscribed|naturaltime }}</td>
                        <td>
                            <a href="{{ subscription.post.get_absolute_url }}">
                                <i class="glyphicon glyphicon-link"></i> {{ subscription.post.title }}
                            </a>
                        </td>
                        <td style="text-align: center">
                            <button class="btn btn-warning btn-sm unsubscribe" onclick="unsubscribe(event, {{ subscription.post.id }});">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
            <script src="{% static 'grappelli/jquery/jquery-2.1.4.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script>
                function unsubscribe(event, postId) {
                    event.stopPropagation();
                    event.preventDefault();
                    $.ajax({
                        url: '{% url 'blog:subscribe' 0 %}'.replace('0', postId.toString()),
                        type: 'DELETE',
                        dataType: 'json',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    }).then(function(data) {
                        location.reload();
                    });
                };

            $(function() {
                $('#id_lang_switcher li a').click(function(e) {
                    $.post("{% url 'set_language' %}", {
                        language: $(this).attr("data-lang")
                    }, function(data, textStatus) {
                        location.reload();
                    });
                    e.preventDefault();
                });

            });
            </script>
{% endblock %}