{% load i18n %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% trans 'Calendar' %}</h3>
                        </div>
                        <div class="panel-body">
                            <div id="id_calendar"></div>
                        </div>
                    </div>