{% load i18n bleach_tags %}<p>Hello, {{ subscriber.get_username }}!</p>

<p>
    We’d like to bring to your attention that the post titled
    “<a href="https://{{ site.domain }}{{ comment.content_object.get_absolute_url }}">
        {{ comment.content_object.title }}
    </a>”
    was commented recently by
    {% if comment.user %}user {{ comment.user.get_username }}{% else %}anonymous user{% endif %}.
</p>

<p>The comment was:</p>

<blockquote>
    {{ comment.comment|bleach }}
</blockquote>

<p>Sincerely,<br />
{{ site.name }}.</p>