.center {
    text-align: center;
}

#id_models li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.checkbox input[type=checkbox]:checked + label:after {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}
.checkbox label:after {
    padding-left: 4px;
    padding-top: 2px;
    font-size: 9px;
}

.comment-addon {
    min-width: 9em;
}

.media .media-body .media .media-body .media .media-body .media .media-body .media .media-body .media {
    margin-left: -66px;
}

.btn-social {
    width: 100%;
}

.dog-tag a, .dog-tag a:visited, .dog-tag a:hover {
    color: inherit;
    text-decoration: none;
}

.primary-avatar {
    border-width: 2px;
    border-color: #2e6da4;
}

.avatar {
    text-align: center;
}

.rss-feed-icon {
    font-size: 150%;
    color: orange;
}
