{% load i18n %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% trans 'RSS Feed' %}</h3>
                        </div>
                        <div class="panel-body">
                            <p>{% trans 'This blog' %}:
                                <a href="{% url 'blog-feed' %}">
                                    <span class="fa fa-rss pull-right rss-feed-icon"></span>
                                </a>
                            </p>
                        </div>
                    </div>