{% extends 'site_base.html' %}
{% load staticfiles i18n sitetree mathfilters %}
{% block styles %}
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'pinax/css/theme.css' %}" rel="stylesheet">
            <link href="{% static 'css/zabuto_calendar.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">
            <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
            {% get_current_language as lang %}
            <script src="{% static 'grappelli/jquery/jquery-2.1.4.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/zabuto_calendar.min.js' %}"></script>
            <script>
            $(function() {
                $('#id_lang_switcher li a').click(function(e) {
                    $.post("{% url 'set_language' %}", {
                        language: $(this).attr("data-lang")
                    }, function(data, textStatus) {
                        location.reload();
                    });
                    e.preventDefault();
                });

                $('#id_calendar').zabuto_calendar({
                    language: '{{ lang }}',
                    year: {{ current_date.year }},
                    month: {{ current_date.month }},
                    show_next: {% with m=current_date.year|mul:12 %}{{ end_date.year|mul:12|add:end_date.month|sub:m|sub:current_date.month }}{% endwith %},
                    show_previous: {% with n=start_date.year|mul:12 %}{{ current_date.year|mul:12|add:current_date.month|sub:n|sub:start_date.month }}{% endwith %},
                    ajax: {
                        url: "{% url 'calendar:posts' %}"
                    },
                    action: function() {
                        if($('#' + this.id).data('hasEvent')) {
                            window.location.href = "{% url 'blog:index' %}?date=" + $('#' + this.id).data('date');
                        };
                    }
                });
            });
            </script>
{% endblock %}