{% extends 'blog/blog_base.html' %}{% load add_class staticfiles sitetree bootstrap mathfilters i18n humanize comments mptt_tags bleach_tags avatar_tags %}
{% block head_title %}{{ site.name }} | {% sitetree_page_title from 'main' %}{% endblock %}
{% block body %}
            <div class="row">
                <div class="col-md-8">
                    {% sitetree_breadcrumbs from 'main' template 'sitetree_custom/breadcrumbs.html' %}
                    <h1>{{ post.title }}</h1>
                    <p class="small">
                        {% trans 'Published' %}: <i>{{ post.published }}</i>{% if post.edited <= post.published %},
                        {% trans 'edited' %}: <i>{{ post.edited }}</i>{% endif %}
                    </p>
                    {{ post.text|safe }}
                    <p class="small pull-right">
                        <strong>Tags:</strong>
                        {% for tag in post.tags.all %}
                        <span class="label label-default dog-tag">
                            <a href="{% url 'blog:index' %}?tag={{ tag.name|iriencode }}">
                                <i class="glyphicon glyphicon-tag"></i>&nbsp;&nbsp;{{ tag.name }}
                            </a>
                        </span>
                        &nbsp;
                        {% endfor %}
                    </p>
                    <div class="clearfix"></div>
                    <a name="comments"></a>
                    <h2>
                        {% trans 'Comments' %}
                        <span class="pull-right">
                            <button id="id_subscribe" class="btn btn-sm btn-info" style="display: none">
                                <i class="glyphicon glyphicon-envelope"></i> {% trans 'Subscribe' %}
                            </button>
                            <button id="id_unsubscribe" class="btn btn-sm btn-warning" style="display: none">
                                <i class="glyphicon glyphicon-envelope"></i> {% trans 'Unsubscribe' %}
                            </button>
                        </span>
                    </h2>
                    <!-- COMMENTS -->

                    {% get_comment_list for post as comments %}
                    {% if comments %}
                        {% recursetree comments %}
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object thumbnail" height="56" width="56"{% if node.user %} src="{% avatar_url node.user 56 %}"{% endif %} />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    {{ node.title }}
                                    {% if node.user == request.user %}
                                    <a href="#"><i class="glyphicon glyphicon-pencil small"></i></a>
                                    {% endif %}
                                </h4>
                                <p class="small">
                                    {% trans 'Left' %} {{ node.submit_date|naturaltime }}
                                    {% if node.user %}
                                        {% if node.user == request.user %}
                                        {% trans 'by You' %}
                                        {% else %}
                                        {% trans 'by user' %} {{ node.user }}
                                        {% endif %}
                                    {% else %}
                                    {% trans 'by anonymous user' %}
                                    {% endif %}
                                </p>
                                {{ node.comment|bleach }}
                                <p class="small">
                                    <a role="button" class="comment-btn" data-parent="{{ node.id }}">
                                        {% trans 'Comment on this…' %}
                                    </a>
                                </p>
                                {% if not node.is_leaf_node %}
                                    {{ children }}
                                {% endif %}
                            </div>
                        </div>
                        {% endrecursetree %}
                    {% endif %}

                <hr/>
                    <h4>
                        <a role="button" class="comment-btn" data-parent="">
                            {% trans 'Start a new thread' %}
                        </a>
                    </h4>

                    <span id="id_comment_body">
                        <div class="well comment-container">
                            <form id="id_comment_form">
                            {% get_comment_form for post as comment_form %}
                            {% csrf_token %}{{ comment_form.security_hash }}
                            {{ comment_form.timestamp }}
                            {{ comment_form.object_pk }}
                            {{ comment_form.content_type }}
                            {{ comment_form.parent }}

                            {% if not request.user.is_authenticated %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon comment-addon">{{ comment_form.name.label }}</div>
                                    {{ comment_form.name|add_class:'form-control' }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon comment-addon">{{ comment_form.email.label }}</div>
                                    {{ comment_form.email|add_class:'form-control' }}
                                </div>
                            </div>
                            {% endif %}

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon comment-addon">{{ comment_form.title.label }}</div>
                                    {{ comment_form.title|add_class:'form-control' }}
                                </div>
                            </div>
                            <div class="form-group">
                            {{ comment_form.comment }}
                            </div>

                            {% if not request.user.is_authenticated %}
                            <div class="form-group">
                                {{ comment_form.captcha }}
                            </div>
                            {% endif %}

                            <button id="id_post_preview_btn" type="submit" class="btn btn-default">{% trans 'Preview' %}</button>
                            <button id="id_post_send_btn" type="submit" class="btn btn-primary pull-right">{% trans 'Send' %}</button>

                            </form>
                        </div>
                    </span>

                </div>
                <div class="col-md-4">
                    {% include 'search/_search.html' %}
                    {% include 'blog/_rss_feed.html' %}
                    {% include 'calendar/calendar.html' %}
                </div>
            </div>
{% endblock %}
{% block scripts %}
            {% get_current_language as lang %}
            <script src="{% static 'grappelli/jquery/jquery-2.1.4.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/zabuto_calendar.min.js' %}"></script>
            <script src="{% static 'tiny_mce/tiny_mce.js' %}"></script>
            <script>
            function initTinyMCE($e) {
                if ($e.parents('.empty-form').length == 0) {  // Don't do empty inlines
                    var mce_conf = $.parseJSON($e.attr('data-mce-conf'));
                    var id = $e.attr('id');
                    if ('elements' in mce_conf && mce_conf['mode'] == 'exact') {
                        mce_conf['elements'] = id;
                    }
                    if ($e.attr('data-mce-gz-conf')) {
                        tinyMCE_GZ.init($.parseJSON($e.attr('data-mce-gz-conf')));
                    }
                    if (!tinyMCE.editors[id]) {
                        tinyMCE.init(mce_conf);
                    }
                }
            };

            function displaySubscriptionStatus() {
                $.ajax({
                    url: '{% url 'blog:subscribe' post.id %}',
                    dataType: 'json'
                }).done(function(data) {
                    $('#id_subscribe').css('display', 'none');
                    $('#id_unsubscribe').css('display', 'inline-block');
                }).error(function(data) {
                    $('#id_subscribe').css('display', 'inline-block');
                    $('#id_unsubscribe').css('display', 'none');
                });
            };

            function toggleSubscriptionStatus(event, type) {
                event.stopPropagation();
                event.preventDefault();
                $.ajax({
                    url: '{% url 'blog:subscribe' post.id %}',
                    type: type,
                    dataType: 'json',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                }).then(function(data) {
                    displaySubscriptionStatus();
                });
            };

            $(function() {
                $('#id_lang_switcher li a').click(function(e) {
                    $.post("{% url 'set_language' %}", {
                        language: $(this).attr("data-lang")
                    }, function(data, textStatus) {
                        location.reload();
                    });
                    e.preventDefault();
                });

                $('.tinymce').each(function() {
                    initTinyMCE($(this));
                });

                document.body.addEventListener("click", function(ev) {
                    if(!ev.target.parentNode || ev.target.parentNode.className.indexOf("add-row") === -1) {
                        return;
                    }
                    var $addRow = $(ev.target.parentNode);
                    setTimeout(function() {  // We have to wait until the inline is added
                        $('textarea.tinymce', $addRow.parent()).each(function () {
                            initTinyMCE($(this));
                        });
                    }, 0);
                }, true);

                $('#id_calendar').zabuto_calendar({
                    language: '{{ lang }}',
                    year: {{ filter_date.year }},
                    month: {{ filter_date.month }},
                    show_next: {% with m=filter_date.year|mul:12 %}{{ end_date.year|mul:12|add:end_date.month|sub:m|sub:filter_date.month }}{% endwith %},
                    show_previous: {% with n=start_date.year|mul:12 %}{{ filter_date.year|mul:12|add:filter_date.month|sub:n|sub:start_date.month }}{% endwith %},
                    ajax: {
                        url: "{% url 'calendar:posts' %}"
                    },
                    action: function() {
                        if($('#' + this.id).data('hasEvent')) {
                            window.location.href = "{% url 'blog:index' %}?date=" + $('#' + this.id).data('date');
                        };
                    }
                });

                $('#id_post_send_btn').click(function(event) {
                    event.stopPropagation();
                    event.preventDefault();
                    tinyMCE.triggerSave();
                    $.ajax({
                        url: '{% url 'comments:submit' %}',
                        type: 'POST',
                        dataType: 'json',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        data: $('#id_comment_form').serialize()
                    }).done(function(data) {
                        location.reload(true);
                    }).error(function(data) {
                        $('#id_comment_form .form-group').removeClass('has-error');
                        $('#id_comment_form .help-block').remove();
                        $.each(data.responseJSON, function(name, value) {
                            var refreshCaptcha = true;
                            if(name == 'captcha') {
                                // Google reCaptcha widget
                                $('#recaptcha_widget_div').closest('.form-group').addClass('has-error');
                                $('#recaptcha_widget_div').after('<span class="help-block">' + value[0] + '</span>');
                                refreshCaptcha = false;
                            } else if(name == 'comment') {
                                // tinyMCE widget
                                $('#id_comment_parent').closest('.form-group').addClass('has-error');
                                $('#id_comment_parent').after('<span class="help-block">' + value[0] + '</span>');
                            } else {
                                errField = $('#id_' + name);
                                errField.closest('.form-group').addClass('has-error');
                                errField.closest('.input-group').after('<span class="help-block">' + value[0] + '</span>');
                            };
                            // we had already guessed this one
                            if(refreshCaptcha) Recaptcha.reload();
                        });
                    });
                });

                $('#id_post_preview_btn').click(function(event) {
                    event.stopPropagation();
                    event.preventDefault();
                });

                $('.comment-btn').click(function(event) {
                    btn = $(this);
                    event.stopPropagation();
                    event.preventDefault();
                    tinyMCE.get('id_comment').remove()
                    $('#id_comment_body').insertAfter(btn.parent());
                    tinyMCE.execCommand('mceAddEditor', false, 'id_comment');
                    parent = btn.attr('data-parent');
                    $('#id_comment_form').find('input[name="parent"]').val(parent);
                });

                displaySubscriptionStatus();

                $('#id_subscribe').click(function(event) {
                    toggleSubscriptionStatus(event, 'POST');
                });

                $('#id_unsubscribe').click(function(event) {
                    toggleSubscriptionStatus(event, 'DELETE');
                });


            });
            </script>
{% endblock %}