{% load i18n %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% trans 'Search' %}</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" method="get" action="{% url 'search' %}">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="q">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>