{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{ site.name }} | {% trans "Not Found" %}{% endblock %}

{% block body %}
    <header class="jumbotron subhead" id="overview">
        <h1>{% trans "Page not found" %}</h1>
        <p class="lead">{% trans "We're sorry but that page could not be found." %}</p>
    </header>
{% endblock %}