{% extends 'theme_bootstrap/base.html' %}
{% load staticfiles i18n sitetree mathfilters %}
{% block styles %}
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'pinax/css/theme.css' %}" rel="stylesheet">
            <link href="{% static 'css/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">
            <link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">
            <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock %}
{% block site_brand %}
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="glyphicon glyphicon-home"></i>
        </a>
{% endblock %}
{% block nav %}
    {% sitetree_menu from 'main' include 'home' template 'sitetree/menu_bootstrap3.html' %}
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans 'Language' %}
                <b class="caret"></b>
            </a>
            <ul id="id_lang_switcher" class="dropdown-menu">
                {% get_available_languages as languages %}
                {% get_current_language as language %}
                {% for lang in languages %}
                <li{% if lang.0 == language %} class="active"{% endif %}>
                    <a href="#" data-lang="{{ lang.0 }}">
                        {{ lang.1 }}
                    </a>
                <li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}
{% block footer %}
            <div class="col-md-4 col-md-offset-4">
                <p style="text-align:center">&copy; Code Tinkers, 2015 adhuc.</p>
            </div>
{% endblock %}
{% block scripts %}
            {% get_current_language as lang %}
            <script src="{% static 'grappelli/jquery/jquery-2.1.4.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script>
            $(function() {
                $('#id_lang_switcher li a').click(function(e) {
                    $.post("{% url 'set_language' %}", {
                        language: $(this).attr("data-lang")
                    }, function(data, textStatus) {
                        location.reload();
                    });
                    e.preventDefault();
                });

            });
            </script>
{% endblock %}